@charset 'utf-8';

body{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

.alimi{
    background-color: white;
}

.nalsialrimi{
    color:black!important;
}

.location>i{
    font-size: 8.5em;
    color: white;
}

.location>p{
    color: white;
}

.location{
    text-align: center;
}

.row{
    font-size: 2em;
    color: white;
    text-align: center;
}

#mainTemp{
    margin-top: 75px;
}

.forecast {
    overflow: auto;
}

.forecast .fifth {
    width: calc(100% / 5);
    float: left;
    padding: 10px 0px;
}

.forecast{
    color: white;
    text-align: center; 
}
